@CHARSET "UTF-8";

div .roundedcorner{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div .popupmessage{
    position : absolute;
    top: 0;
    z-index: 10000;
    width: 150px;
    display:none;
    background : #cdf0ff;
    margin : 5px 5px;
    overflow : auto;
}

div .popupmessage.shadow{
    -moz-box-shadow: 3px 3px 4px #A3A2A2;
    -webkit-box-shadow: 3px 3px 4px #A3A2A2;
    box-shadow: 3px 3px 4px #A3A2A2;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#A3A2A2')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#A3A2A2');
}

div .popupmessage .title{
    text-align : center;
    background : #fff;
    margin : 5px;
}

div .popupmessage .content{
    margin : 10px;
}
div .popupmessage .close{
    float : right;
    margin: 5px;
}